#main-logo {
  margin-top: 250px;
}

.home-component {
  position: relative;
  background-image: url('../../../public/home-page.png');
  background-repeat: no-repeat;
  background-size: 1464px 700px;
  padding-bottom: 110px;
  margin-right: 0px;
}

.home-img-container {
  position: absolute;
  top: -120px;
  z-index: -1;
}

.home-img-container img {
  width: 100%;
}

.home-content {
  margin-top: 390px;
  margin-bottom: 160px;
  text-align: center;
}
