#main-logo {
  margin-top: 250px;
}

#home-component {
  background-image: url('../../../public/home-page2.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 93vh;
}

#home-logo {
  text-align: center;
  padding-top: 32vh;
}
