@import url('signInModal.css');
@import url('signUpModal.css');
@import url('signUpLogIn.css');
@import url('navBar.css');
@import url('home.css');
@import url('interface.css');
@import url('lacksingingdata.css');
@import url('profileBottom.css');
@import url('thumbnailSection.css');
@import url('logout.css');

/* fonts */
@font-face { font-family: DDCHardwareCondensed; src: url('../../../public/assets/fonts/DDCHardware-Condensed.otf'); }
@font-face { font-family: OpenSans; font-weight: normal; src: url('../../../public/assets/fonts/OpenSans-Regular.ttf') }
@font-face { font-family: OpenSans-Bold; font-weight: bold; src: url('../../../public/assets/fonts/OpenSans-Regular.ttf') }
@font-face { font-family: OpenSans-SemiboldItalic; font-weight: bold; src: url('../../../public/assets/fonts/OpenSans-SemiboldItalic.ttf') }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

footer {
  background-color: lightBlue;
  position: static;
  height: 20px;
  bottom: 0;
  width: 100%;
}

.badge {
  font-size: 120%;
}

h1 {
  font-family: Philosopher;
  font-size: 700%;
}

h2, h3, h4, h5 {
  text-align: center;
}

#title {
  margin-top: 120px;
}

#nav {
  width: 100%
}

#logo {
  font-family: DDCHardwareCondensed;
  font-size: 30px;
  color: black;
}

#signUpForm {
  margin: 10px;
  margin-bottom: 0px;
}

#googleSignUp {
  margin: 10px;
}

.sign-up-modal {
  width: auto !important;
}

.orbutton {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.logInGoogle {
  margin: 1px;
  padding: 1px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#personalSignUp {
  margin-left: 7px;
  margin-right: 7px;
  padding: 0px;
}

#profileWarning {
   width: 48px;
   height: 48px;
}

#timestampSize {
  font-size: 115%;
  font-style: italic;
}

#chart {
  font-size:34px;
  font-weight:bold;
}

.c3-axis-y-label {
  font-size: 18px;
}

.tableRow:hover {
  background-color: #4aa4b2 !important;
  cursor: pointer;
}

/*#gauge {
  background-color: white;
  border: 3px solid #1cd1fc;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px 8px 8px 8px;
}*/
