@import url('signInModal.css');
@import url('signUpModal.css');
@import url('SignUpLogIn.css');
@import url('narBar.css');
@import url('profilewarning.css');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('../../../public/home-wallpaper.jpg');
  background-repeat: repeat;
}

footer {
  background-color: lightBlue;
  position: static;
  height: 20px;
  bottom: 0;
  width: 100%;
}

.badge {
  font-size: 120%;
}

h1 {
  font-family: Philosopher;
  font-size: 700%;
}

h2, h3, h4, h5 {
  text-align: center;
}

#nav {
  width: 100%
}

#title {
  margin-top: 120px;
}

.white-key {
  height: 260px;
  border: 1px solid #000000;
  background-color: #ffffff;
  z-index: 1;
}

.black-key {
  height: 160px;
  border: 1px solid #ffffff;
  border-top: 1px solid #000000;
  background-color: #000000;
  margin-left: -35px;
  margin-right: -35px;
  z-index: 2;
}

.black-key, .white-key {
  width: 70px;
  vertical-align: top;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 5px;
}

.white-key:hover {
  background-color: #dddddd;
}

.black-key:hover {
  background-color: #707070;
}

.white-key:active {
  background-color: #2f8aaf;
}

.black-key:active {
  background-color: #afac2f;
}

#signUpForm {
  margin: 10px;
  margin-bottom: 0px;
}

#googleSignUp {
  margin: 10px;
}

.sign-up-modal {
  width: auto !important;
}

.orbutton {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.logInGoogle {
  margin: 1px;
  padding: 1px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  padding: 5px;
  margin: auto;
}

#personalSignUp {
  margin-left: 7px;
  margin-right: 7px;
  padding: 0px;
}

#octRow {
  margin-bottom: 15px;
}

#gauge {
  background-color: white;
  border: 3px solid black;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px 8px 8px 8px;
}

#indicatorRow {
  margin-top: 20px;
  margin-bottom: 20px;
}
