.navbar-default {
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbar-left {
  color: #888 !important;
}

.headIcon {
  margin: 15px 0 0 0;
  float: left;
}

.navbar-right {
  color: 	#666666 !important;
  font-size: medium;
}

.githubLink {
  margin-top: 14px;
  margin-left: 8px;
  padding-right: 8px;
  text-decoration: none;
  color: #777;
}

#signUpButton {
  margin-right: 6px;
  padding-bottom: 35px;
  padding-right: 27px;
}

#logInButton {
  margin-right: 6px;
  padding-bottom: 35px;
  padding-right: 27px;
}

#logOutButton {
  margin-right: 6px;
  padding-bottom: 35px;
  padding-right: 27px;
}
