.navbar-left {
  color: #888 !important;
}

.headIcon {
  margin: 15px 0 0 0;
float: left;
}

.navbar-right {
  color: 	#666666 !important;
  font-size: medium;
}

#signButton {
  padding-bottom: 20px;
}

#logButton {
  padding-bottom: 20px;
}
