@import url('https://fonts.googleapis.com/css?family=Rubik');
.signup-modal {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.signup-modal-btn-google {
  background: #fff;
  padding: 12px 24px;
  border: 2px solid #444;
}

.signup-modal-btn-google-inside {
  display: flex;
  justify-content: center;
}

.signup-modal-btn-google-inside img {
  height: 18px;
  width: 18px;
  margin: 0 10px 0 0;
}

.signup-modal-btn-google-inside span {
  font-family: 'Rubik';
  font-size: 16px;
  font-weight: bold;
}

.signup-modal-content {
  display: flex;
  flex-direction: column;
}

.signup-modal-content-detail {
  height: 40px;
  border-radius: 2px;
  border: 1px solid #eee;
  padding: 1px 8px;
  margin: 0 0 8px 0;
}

.signup-modal-foot-btn {
  display: flex;
  flex-direction: column;
}

.signup-modal-foot-btn button {
  margin: 0 0 8px 0;
}

.signup-modal-foot-btn button h5 {
  font-family: 'Rubik';
  font-size: 16px;
  font-weight: bold;
}

.signup-modal-or-decorate {
  display: flex;
  justify-content: center;
  margin: 18px 0;
  position: relative;
}

.signup-modal-or-decorate-lineL {
  position: absolute;
  top: -8px;
  left: 0px;
  color: #fff;
  border-bottom: 1px solid #ccc;
}

.signup-modal-or-decorate-lineR {
  position: absolute;
  top: -8px;
  right: 0px;
  color: #fff;
  border-bottom: 1px solid #ccc;
}

.signup-modal-or-decorate span {
  font-family: 'Rubik';
  font-size: 16px;
  color: #888;
}
