.SignUpLogIn {
  display: flex;

  margin: 14px 0 0 0 ;
}

.SignUp span {
  margin: 14px 10px 10px 0;
  color: #444;
  font-size: 17px;
}

.LogIn span {
  margin: 14px 0 10px 10px;
  color: #444;
  font-size: 17px;
}
