.thumbnailSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.thumbnail img {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: auto;
}

.thumbnail {
  border: 5px solid #87CEEB !important;
}
