body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

footer {
  background-color: lightBlue;
  position: fixed;
  height: 80px;
  bottom: 0;
  width: 100%;
}

#nav {
  width: 100%
}

.white-key{
  height:260px;
  border:1px
  solid #000;
  background-color:#FFF;
  z-index:1;
}

.black-key {
  height: 160px;
  border: 1px solid #FFF;
  border-top: 1px solid #000;
  background-color: #000;
  margin-left: -30px;
  margin-right: -30px;
  z-index: 2;
}

.black-key, .white-key {
  width: 60px;
  vertical-align: top;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  border-radius:5px;
}
